* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    height: 100vh;
    background-color: #bebebebe;

    .title {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .body-content *{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 50px auto;

        .input-text {
            width: 25%;
            padding: 10px;
            border-radius: 25px;
            border: 2px solid #bebebebe;
        }

        .button-translate {
            width: 10%;
            padding: 10px;
            border-radius: 25px;
            border: 2px solid #bebebebe;
            cursor: pointer;
        }
    }
}


